.post-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post-container .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-container .info .title {
    font-weight: 900;
    font-size: 50px;
}

.post-container .info .title .id {
    color: var(--neutral);
}

.post-container .info .timestamp {
    color: var(--accent);
}


@media (max-width: 648px) {
    .post-container .info .title {
        font-size: 40px;
    }

    .post-container .info .timestamp {
        font-size: 15px;
    }
}
