.recent-posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recent-posts .title {
    font-size: 20px;
    font-weight: 900;
    color: var(--neutral);
}

.recent-posts .title span {
    color: var(--foreground);
}

.recent-posts .posts-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.posts-grid-container .gif {
    position: absolute;
    top: -30px;
    height: 30px;
    filter: contrast(2);
}

.posts-grid-container .gif.pokemon {
    right: 30px;
}

.posts-grid-container .gif.rabbit {
    right: 130px;
    transform: scaleX(-1);
}

.posts-grid-container .post-card {
    border: 1px solid var(--neutral);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.posts-grid-container .post-card .post-bottom {
    display: flex;
    gap: 20px;
}

.posts-grid-container .post-card .post-bottom img {
    width: 75px;
    height: 75px;
}

.posts-grid-container .post-card .post-bottom p {
    color: var(--accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: auto;
}

.posts-grid-container .post-card .post-title {
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

.posts-grid-container .post-card .post-title:hover {
    text-decoration: underline;
}

.posts-grid-container .post-card .post-title span {
    color: var(--neutral);
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posts .post {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.posts .post .title {
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

.posts .post .title:hover {
    text-decoration: underline;
}

.posts .post .title .id {
    color: var(--neutral);
}

.posts .post .content {
    font-size: 14px;
    color: var(--accent);
    font-weight: 500;
    line-height: 20px;
}


@media (max-width: 648px) {
    .recent-posts {
        gap: 20px;
    }

    .recent-posts .posts-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .posts-grid-container .post-card .post-bottom img {
        width: 60px;
        height: 60px;
    }

    .posts .post .content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin: auto;
    }
}
