.post-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.post-container .title {
    font-weight: 900;
    font-size: 50px;
}

.post-container .title .id {
    color: var(--neutral);
}

.post-container .floating-left-box {
    position: absolute;
    top: 0px;
    left: -70px;
    height: 100%;
}

.post-container .floating-left-box .btn {
    position: sticky;
    top: 70px;
}
