/* CSS variables */
/* TODO: add light palette */
:root {
    --background: #09090B;
    --foreground: #FFF7F8;
    --accent: #818182;
    --neutral: #27272A;

    --border: #1E1E1E;
}

/* Fonts configuration */

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Inconsolata/Inconsolata-Black.ttf");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Inconsolata/Inconsolata-Medium.ttf");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Inconsolata/Inconsolata-Light.ttf");
}

/* Basic styles */

*::selection {
    background: var(--neutral);
    color: var(--foreground);
}

html {
    scroll-padding-top: 20px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inconsolata";
}

.container {
    padding: 50px 25px;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btn {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 900;
    padding: 15px;
    border: 1px solid var(--neutral);
    width: max-content;
    outline: none;
}

.btn:hover,
.btn:focus {
    border-color: var(--accent);
}

a.btn:hover {
    text-decoration: underline;
}
