/* PROFILE SECTION START */

.profile-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-box img {
    width: 100px;
    height: 100px;
}

.profile-box .info-and-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-box .info-and-links h1 {
    font-size: 30px;
    font-weight: 900;
}

.profile-box .info-and-links span {
    font-size: 15px;
    font-weight: 300;
}

.profile-box .info-and-links .social-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-box .info-and-links .social-links a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 700;

}

.profile-box .info-and-links .social-links a:hover {
    text-decoration: underline;
}

/* PROFILE SECTION END */
