{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/blogpost_list.css' %}">
{% endblock %}

{% block title %}
moonlitspace / Posts
{% endblock %}

{% block body %}
<div class="posts">
    {% include "blog/breadcrumbs.html" %}
    {% for post in posts %}
    <div class="post">
        <a href="{% url 'post-detail-view' post.slug %}" class="title">
            <span class="id">{{ post.pk }}.</span>{{ post.title }}
        </a>
        <p class="content">{{ post.content|markdown_to_text }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
