{% extends "index.html" %}
{% load static %}
{% load markdown_extras %}
{% load custom_filters %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}

{% block title %}
moonlitspace / Blog
{% endblock %}

{% block body %}
{{ block.super }}
<div class="recent-posts">
    <span class="title">Moonlit<span>Posts</span></span>
    <div class="posts-grid-container">
        <img class="rabbit gif" src="{% static 'gifs/rabbit.gif' %}">
        <img class="pokemon gif" src="{% static 'gifs/pokemon.gif' %}">
        {% for post in recent_posts %}
        <div class="post-card">
            <a href="{% url 'post-detail-view' post.slug %}" class="post-title">
                <span class="id">{{ post.pk }}.</span>{{ post.title }}</a>
            <div class="post-bottom">
                <img src="{% static forloop.counter|cover_image %}">
                <p>{{ post.content|markdown_to_text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if posts %}
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <a href="{% url 'post-detail-view' post.slug %}" class="title">
            <span class="id">{{ post.pk }}.</span>{{post.title }}
        </a>
        <p class="content">{{ post.content|markdown_to_text }}</p>
    </div>
    {% endfor %}
    {% if posts|has_more_than:3 %}
    <a href="{% url 'post-list-view' %}" class="btn">
        View All Posts
    </a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
