{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'newsletter/css/newsletter.css' %}">
    {% block head %}{% endblock %}
</head>

<body class="container">
    {% block body %}{% endblock %}
    {% include "newsletter/newsletter.html" %}

    <script defer src="/_vercel/insights/script.js"></script>
</body>

</html>
