{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<main>
    <div class="profile-box">
        <img src="{{ profile.avatar }}">
        <div class="info-and-links">
            <h1>{{ profile.name }}</h1>
            <span>aka: @{{ profile.aka }}</span>
            <div class="social-links">
                {% if profile.socials.discord %}
                <a href="{{ profile.socials.discord }}" target="_blank">
                    Discord
                </a>
                {% endif %}
                {% if profile.socials.github %}
                <a href="{{ profile.socials.github }}" target="_blank">
                    Github
                </a>
                {% endif %}

                {% if profile.socials.telegram %}
                <a href="{{ profile.socials.telegram }}" target="_blank">
                    Telegram
                </a>
                {% endif %}
                {% if profile.socials.twitter %}
                <a href="{{ profile.socials.twitter }}" target="_blank">
                    Twitter
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
