{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
{{ profile.aka }}
{% endblock %}

{% block body %}
<main>
    <div class="profile-box">
        <img src="{{ profile.avatar }}">
        <div class="info-and-links">
            <h1>{{ profile.name }}</h1>
            <span>aka: @{{ profile.aka }}</span>
            <div class="social-links">
                {% if profile.github %}
                <a href="{{ profile.github }}" target="_blank">
                    Github
                </a>
                {% endif %}
                {% if profile.discord %}
                <a href="{{ profile.discord }}" target="_blank">
                    Discord
                </a>
                {% endif %}
                {% if profile.telegram %}
                <a href="{{ profile.telegram }}" target="_blank">
                    Telegram
                </a>
                {% endif %}
                {% if profile.twitter %}
                <a href="{{ profile.twitter }}" target="_blank">
                    Twitter
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="pinned-posts">
        <span class="title">Moonlit<span>Posts</span></span>
        <div class="posts-grid-container">
            {% for post in pinned_posts %}
                <div class="post-card">
                    <a
                        href="/blog/{{ post.post.slug }}"
                        class="post-title"
                    >
                        <span class="id">{{ post.post.pk }}.</span>{{ post.post.title }}</a>
                    <div class="post-bottom">
                        <img src="{{ post.cover }}">
                        <p>{{ post.post.content|markdown_to_text|truncatechars:75 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="latest-posts">
        {% for post in latest_posts %}
            <div class="post">
                <a href="/blog/{{ post.slug }}" class="title"><span class="id">{{ post.pk }}.</span>{{ post.title }}</a>
                <p class="content">{{ post.content|markdown_to_text }}</p>
            </div>
        {% endfor %}
        <a href="/posts" class="btn">
            View All Posts
        </a>
    </div>
</main>
{% endblock %}
