<!DOCTYPE html>
<html>

<head>
</head>

<body style="font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0; background-color: #09090B; color: #FAFAFA;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #09090B; color: #FAFAFA; margin: 0; padding: 0;">
        <tr>
            <td align="center" style="padding: 50px;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <h2 style="font-size: 18px; font-weight: bold; color: inherit; margin: 0;">Email Verification</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <p style="font-size: 13px; font-weight: normal; color: #818182; line-height: 20px; margin: 0;">
                                Thank you for subscribing.<br>
                                Please click the button below to verify your email address.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <a href="{{ verification_url }}" style="text-decoration: none; font-size: 13px; font-weight: bold; padding: 15px; border: 1px solid #27272A; background-color: transparent; color: inherit; display: inline-block;">Verify Email</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <p style="font-size: 13px; font-weight: normal; color: #818182; line-height: 20px; margin: 0;">
                                The entry will expire in 15 minutes.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <p style="font-size: 13px; font-weight: normal; color: #818182; line-height: 20px; margin: 0;">
                                Any issues or doubt regarding verification or any?<br>
                                Raise an issue here: <a href="https://github.com/moonlitgrace/moonlitspace/issues" style="color: inherit; margin: 0;">Issue Tracker</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <p style="font-size: 13px; font-weight: normal; color: #818182; line-height: 20px; margin: 0;">
                                If you didn't subscribe for this newsletter, you can safely ignore this email.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 13px; font-weight: normal; color: #818182; line-height: 20px; margin: 0;">
                                Thanks,<br>moonlitgrace
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
