<!DOCTYPE html>
<html>

<body
    style="font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0; background-color: #09090B; color: #FAFAFA;">
    <div style="padding: 50px 150px; background: #09090B; color: #FAFAFA;">
        <h2 style="font-size: 15px; font-weight: 900; color: inherit;">Email Verification</h2>
        <p style="font-size: 13px; font-weight: 500; color: #818182; line-height: 20px;">Thank you for subscribing.
            Please click the button below to verify your email address.</p>
        <a href="{{ verification_url }}"
            style="text-decoration: none; color: inherit; font-size: 13px; font-weight: 900; padding: 15px; border: 1px solid #27272A; width: max-content; outline: none; background-color: #09090B; display: inline-block;">Verify
            Email</a>
    </div>
</body>

</html>
